<div class="page-header">
	<h3>测试用例选择工具</h3>
</div>

<!--<div style="height: 50px;width: 100%" dw-loading="grid_loading" dw-loading-options="options"></div>-->

<div dw-loading="grid_loading" dw-loading-options="{active: true}" ui-i18n="{{lang}}">
    <!--{{case_test}}-->
	<!--<button type="button" class="btn btn-success" ng-click="toggleMultiSelect()">Toggle multiSelect</button>  <strong>MultiSelect:</strong> <span ng-bind="gridApi.grid.options.multiSelect"></span>-->
	<!--<button type="button" class="btn btn-success" ng-click="toggleRow1()">Toggle Row 0</button>-->
	<!--<br/>-->
	<!--<br/>-->
	<!--<button type="button" class="btn btn-success" ng-click="toggleModifierKeysToMultiSelect()">Toggle modifierKeysToMultiSelect</button>  <strong>ModifierKeysToMultiSelect:</strong> <span ng-bind="gridApi.grid.options.modifierKeysToMultiSelect"> </span>-->
	<!--<br/>-->
	<!--<br/>-->
	<button type="button" class="btn btn-success" ng-disabled="!gridApi.grid.options.multiSelect" ng-click="selectAll()">选择全部用例</button>
	<button type="button" class="btn btn-success" ng-click="clearAll()">清除所有选中</button>
	<!--<button type="button" class="btn btn-success" ng-click="setSelectable()">Set Selectable</button>-->
	<!--<button type="button" class="btn btn-success" ng-click="toggleFullRowSelection()">Toggle full row selection</button>-->
	<br/>
	<br/>
	<div ui-grid="gridOptions" ui-grid-selection ui-grid-resize-columns class="grid"></div>
	<br/>
	<button type="button" class="btn btn-success pull-right" ng-disabled="selectedRows.length===0" ng-click="downloadSelected()">生成并下载测试用例库</button>
	<button type="button" class="btn btn-success pull-right" ng-disabled="selectedRows.length===0" style="margin-right:15px" ng-click="downloadSelectedfordes3()">生成des3并下载测试用例库</button>
</div>


<!--<form class="form-horizontal">-->
	<!--<div class="form-group">-->
		<!--<label class="control-label col-sm-2" for="content">Content</label>-->
		<!--<div class="col-sm-10">-->
			<!--<textarea ng-model="newsEntry.content" id="content" class="form-control" rows="10">{{newsEntry.content}}</textarea>-->
		<!--</div>-->
	<!--</div>-->
	<!--<div class="form-group">-->
		<!--<div class="col-sm-10 col-sm-offset-2">-->
			<!--<button type="submit" class="btn btn-primary" ng-click="save()"><span class="fa fa-check"></span> Save</button>-->
		<!--</div>-->
	<!--</div>-->
<!--</form>-->