<div class="page-header">
	<h3>Lic-Generator</h3>

	<div class="container">
			<h2 class="bg-info">获取license 画面</h2>
			<table class="table table-striped">
				<tr>
					<td style="width:150px">
						<h5 class="form-signin-heading">请输入设备SN号码:</h5>
					</td>
					<td style="width:400px">
						<label  class="sr-only">请输入设备SN号码:</label>
						<input ng-model="sn" type="text"  class="form-control" placeholder="00000000" required autofocus>
					</td>
					<td style="width:120px">
						<h5>HID:</h5>
					</td>
					<td>
						<input type="text" class="form-control"  name="uuid" ng-model="uuid">
					</td>
				</tr>
				<tr>
					<td>
						<h5 class="form-signin-heading">选择截止时间:</h5>
					</td>
					<td>
						<input type="date" ng-model="datetime" size="30" ng-change="calDateTimePeriod()"/>
					</td>
					<td>
						<h5 ng-show="datetimeperiodshow">有效天數：</h5>
					</td>
					<td>
						<input class="form-control" type="text" datetime-picker ng-model="datetimeperiod"  ng-show="datetimeperiodshow" readonly>
					</td>
				</tr>
				<tr>

					<td>
						<h5>请输入授权单位:</h5>
					</td>

					<td><input type="text"  class="form-control" ng-model="selauth" placeholder="authorizedFor"></td>
					<td>
						<h5>授权版本:</h5>
					</td>
					<td>
						<form name="myForm">
							<select name="mySelect" id="mySelect" class="form-control"
									ng-options="option.name for option in disVersion track by option.id"
									ng-model="authorizedEdtion"></select>
						</form>
					</td>

				</tr>
				<tr>
					<td>
						<button type="button" class="btn btn-success" ng-click="generateLicenseDes()">产生des并下载</button>
					</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table>

		</div>

	</div>
